@font-face {
  font-family: "digital 7 italic";
  src: url(../fonts/digital-7-italic.ttf);
}

@import "variables";
@import "reset";

*:focus {
  box-shadow: 0 0 3px 3px $purple;
  outline: none;
}

html {
  background: change-color($grayscale, $lightness: 0%);
  background: linear-gradient(120deg, change-color($grayscale, $lightness: 0%), change-color($grayscale, $lightness: 18%)) fixed;
  h1 {
    color: $blue;
    font-family: $heading-font;
    font-size: 2.4rem;
    letter-spacing: 4px;
    padding: 30px 0;
  }
  main {
    padding-bottom: 60px;
    .display {
      background: change-color($grayscale, $lightness: 65%);
      border-radius: 3px;
      box-shadow: 0 -2px 10px 1px change-color($grayscale, $lightness: 50%);
      color: change-color($grayscale, $lightness: 0%);
      font-family: $screen-font;
      font-size: 1.3rem;
      height: 30px;
      letter-spacing: 3px;
      margin: 0 auto 10px;
      padding-top: 8px;
      padding-left: 5px;
      text-align: left;
      text-transform: uppercase;
      width: 200px;
    }
    .button-group {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      .drum-pad,
      .drum-pad:hover {
        border: 2px solid $blue;
        border-radius: 6px;
        cursor: pointer;
        height: 70px;
        margin: 10px;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        width: 70px;
        &:active {
          background: radial-gradient(circle, change-color($grayscale, $lightness: 45%), change-color($grayscale, $lightness: 0%));
        }
        &:focus {
          box-shadow: none;
        }
        .sound-type {
          color: $blue;
          font-size: 0.6rem;
          font-style: italic;
          margin-top: 4px;
          margin-left: 4px;
          text-align: left;
        }
        .sound-key {
          font-size: 2rem;
          margin-top: 7px;
        }
      }
    }
  }
  footer {
    bottom: 0;
    font-size: 0.8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $blue;
    }
  }
}
