$black: #000;
$blue: #51aaff;
$purple: hsl(274, 93%, 71%);

*:focus {
  box-shadow: 0 0 3px 3px $purple;
  outline: none;
}

html {
  background: $black;
  background: linear-gradient(120deg, $black, hsl(0, 0%, 18%)) fixed;
  h1 {
    color: $blue;
    font-family: "Unica One", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    letter-spacing: 4px;
    padding: 30px 0;
  }
  main {
    padding-bottom: 60px;
    padding-bottom: 60px;
    .button-group {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      .drum-pad,
      .drum-pad:hover,
      .drum-pad:active,
      .drum-pad:focus {
        align-self: center;
        background: $blue;
        border-radius: 4px;
        color: $black;
        font-size: 2.5rem;
        font-weight: 600;
        height: 70px;
        margin: 10px;
        width: 70px;
      }
    }
    .display {
      font-size: 1.1rem;
      font-weight: 600;
      letter-spacing: 3px;
      margin-top: 30px;
      text-transform: uppercase;
    }
  }
  footer {
    bottom: 0;
    font-size: 0.8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $blue;
    }
  }
}
